<?xml version="1.0"?>
<launch>

	<param name="rho"         type="double" value="1.0" />
	<param name="theta"       type="double" value="0.017452778" />
    <param name="threshold"   type="double" value="10.0" />
    <param name="minLineLen"  type="double" value="10.0" />
    <param name="maxLineGap"  type="double" value="10.0" />
    <param name="real_sim"    type="bool"   value="True" />

    <param name="area_filter" type="double" value="600.0" /> <!-- valor de 600-->


    <!-- Valores de filtrado por hsv  H-> Matiz (0-179) S-> Saturacion (0-100) V- Valor de luminosidad (0-255)-->

    <!-- El H varía desde 0° (rojo), pasando por 120° (verde) y 240° (azul), y luego vuelve a 360° (rojo). -->
    <!-- La S Indica la pureza o intensidad del color. 
    Valores bajos de saturación tienden hacia el gris y valores altos muestran colores más intensos. -->
    <!-- La V Representa la luminancia o el brillo del color. Puede variar desde negro (0) hasta el color máximo  -->

    <param name="h_low"  type="double" value="0.0" /> 
    <param name="s_low"  type="double" value="0.0" /> 
    <param name="v_low"  type="double" value="0.0" />

    <param name="h_high" type="double" value="179.0" /> 
    <param name="s_high" type="double" value="30.0" /> 
    <param name="v_high" type="double" value="50.0" /> 


    <param name="imgTopic"   type="str" value="/camera/color/image_raw"/>

    <node pkg="vision_matrice100" type="image_filter_node" name="image_filter_node" output="screen"/>

</launch>

