<?xml version="1.0"?>
<launch>

	<param name="rho"         type="double" value="1.0" />
	<param name="theta"       type="double" value="0.017452778" />
    <param name="threshold"   type="double" value="10.0" />
    <param name="minLineLen"  type="double" value="10.0" />
    <param name="maxLineGap"  type="double" value="10.0" />
    <param name="real_sim"    type="bool"   value="True" />

    <param name="area_filter" type="double" value="600.0" /> <!-- valor de 200-->
    <param name="hsv_v" type="double" value="200.0" /> <!-- valor entre 200 a 255 , el real probar con 250-->
    <param name="hsv_s" type="double" value="100.0" /> <!-- valor entre 0 a 100 -->

    <param name="imgTopic"   type="str" value="/camera/color/image_raw"/>

    <node pkg="vision_matrice100" type="image_filter_node" name="image_filter_node" output="screen"/>

</launch>

