<?xml version="1.0"?>
<launch>

  <!-- Lanzamiento del filtrado de imagen -->
  <include file="$(find vision_matrice100)/launch/panelFeature_real.launch" />

  <!-- Lanzamiento del nodo de control servovisual con espacios nulos -->
  <include file="$(find vision_matrice100)/launch/visual_servo_space_null_real.launch" />

  <arg name="rviz" default="true" />
  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find vision_matrice100)/rviz/vision_matrice100.rviz" />
  </group>

</launch>

